:root {
  --primary: #fff;
}

.btn {
  padding: 8px 20px;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn--primary {
  background-color: var(--primary);
  color: #242424;
  border: 1px solid var(--primary);
}

.btn--outline {
  background-color: white;
  color: #fff;
  padding: 8px 20px;
  transition: all 0.3s ease-out;
  color: #242424;
  border-radius: 10px;
}

.btn--medium {
  font-size: 17px;
  border-radius: 15px;
  width: 120px;
  height: 45px;
  margin-left: 0px;
}

.btn--large {
  padding: 12px 26px;
  font-size: 12px;
}

.btn--large:hover,
.btn--medium:hover {
  transition: all 0.3s ease-out;
  background: #fff;
  color: #242424;
  transition: 250ms;
  width: 130px;
  height: 48px;
  text-align: center;
  font-size: 19px;
}